In [5]:
import pandas as pd

course_name = ['Data Science', 'Machine Learnin', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

       course_name  duration
0     Data Science         2
1  Machine Learnin         3
2         Big Data         6
3    Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
df.iloc[[1]]

       course_name  duration
1  Machine Learnin         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?


Ans)


Both loc and iloc are indexing functions in pandas that allow you to access subsets of a DataFrame based on labels or integer-based indexing, respectively.

The main difference between the two functions is in how they handle the indexing of rows and columns:

1. loc is primarily label-based, which means that you can use column and row labels to access specific elements of the DataFrame. For example, df.loc['row_label', 'column_label'].

2. iloc is primarily integer-based, which means that you can use integer-based indexing to access specific elements of the DataFrame. For example, df.iloc[row_index, column_index]

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [7]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
print("Data for loc function:",new_df.loc[2])
print("Data for iloc function:",new_df.iloc[2])

Data for loc function: course_name    Big Data
duration              6
Name: 2, dtype: object
Data for iloc function: course_name    Machine Learnin
duration                     3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.


new_df.loc[2]:
This will return the row with label 2 in the new_df DataFrame
new_df.iloc[2]:
This will return the third row (since integer-based indexing starts at 0) in the new_df DataFrame.

In [16]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.758653  0.337270  0.816894  0.415545  0.373822  0.816300
2  0.327215  0.657789  0.854861  0.085469  0.938727  0.232556
3  0.755584  0.401260  0.770375  0.883814  0.646925  0.210309
4  0.745362  0.944900  0.972392  0.479440  0.386403  0.141042
5  0.992709  0.219656  0.267913  0.305902  0.958016  0.180363
6  0.934440  0.643307  0.179329  0.252389  0.131288  0.631105

In [9]:
#(i) mean of each and every column present in the dataframe.

df1.mean()

column_1    0.820199
column_2    0.697511
column_3    0.407342
column_4    0.265060
column_5    0.537285
column_6    0.576652
dtype: float64

In [10]:
#(ii) standard deviation of column, ‘column_2’
std_dev = df1['column_2'].std()
print('standard deviation of column_2:',std_dev)

standard deviation of column_2: 0.315689500457103

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [17]:
# Replacing "column_2" name to "something"
df1.loc[2, 'column_2'] = 'Something'
df1.mean()

/tmp/ipykernel_357/2859962657.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

column_1    0.752327
column_3    0.643627
column_4    0.403760
column_5    0.572530
column_6    0.368612
dtype: float64

However, if we try to find the mean of the column_2 column after replacing the value with a string(Something), we will get an error because you cannot calculate the mean of a column that contains string values. We can only calculate the mean of numeric data types

In [18]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Conclusion of error : Mean cal be calculated for the integer and float values

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?


Ans)

In pandas, a window function is a way of performing calculations on a sliding subset of data in a DataFrame. It is useful for performing rolling or moving operations on data, such as calculating a rolling mean or sum. The window function works by defining a window or subset of the data, which moves over the DataFrame, and applying a function to the data within that window.

There are several types of window functions available in pandas:

1. Rolling function: This function returns a rolling window of values, which can be used to perform calculations such as the rolling mean or sum of a DataFrame. It moves over the data in a defined window size, and the function is applied to each window.

2. Expanding function: This function returns an expanding window of values, which grows as more data is included. This can be used to calculate cumulative sums or other calculations that require all the data to be included.

3. Exponentially weighted function: This function applies an exponentially weighted function to the data in a rolling window. This can be useful for smoothing data or giving more weight to recent data.

4. Window function: This function applies a custom function to the data in a defined window. It can be used for more complex calculations that are not available in the other window functions.

Q7. Write a code to print only the current month and year at the time of answering this question.

In [37]:
# Ans)

import pandas as pd

now = pd.datetime.now()
print("Current month and year: %s %s" % (now.strftime("%B"), now.year))

Current month and year: March 2023

/tmp/ipykernel_958/54676099.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [38]:
import pandas as pd

# Prompt the user to enter the two dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the dates to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference between the dates
time_diff = date2 - date1

# Calculate the difference in days, hours, and minutes
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# Print the result
print("The difference between the two dates is:")
print("- %s days" % days)
print("- %s hours" % hours)
print("- %s minutes" % minutes)

Enter the first date (YYYY-MM-DD):  2023-03-10
Enter the second date (YYYY-MM-DD):  2023-03-13

The difference between the two dates is:
- 3 days
- 0 hours
- 0 minutes

Q9. 
write a python program that records a csv file containing categorical data and converts a specified column to a categorical data type . The program should prompt the user to enter the file path, column name and category order and then display the sorted data

In [ ]:
import pandas as pd

# Prompt user for file path
file_path = input("Enter the file path for the CSV file: ")

# Load CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Prompt user for column name to convert to categorical data type
column_name = input("Enter the name of the column to convert to categorical: ")

# Prompt user for category order
category_order = input("Enter the category order, separated by commas: ").split(",")

# Convert specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order)

# Sort DataFrame by specified column
df = df.sort_values(column_name)

# Display sorted DataFrame
print(df)

Q11. write a python program that records a csv file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product catergory over time. The program should prompt the user to enter the file path and display the chart

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt user for file path
file_path = input("Enter file path: ")

# Read CSV file into a pandas DataFrame
sales_data = pd.read_csv(file_path)

# Convert the date column to a datetime object
sales_data['Date'] = pd.to_datetime(sales_data['Date'])

# Group the data by product category and date, and sum the sales
grouped_data = sales_data.groupby(['Category', 'Date']).sum().reset_index()

# Pivot the data to create a matrix with dates as columns and product categories as rows
pivoted_data = grouped_data.pivot(index='Category', columns='Date', values='Sales')

# Create a stacked bar chart
pivoted_data.plot(kind='bar', stacked=True)

# Add labels and title
plt.xlabel('Product Category')
plt.ylabel('Sales')
plt.title('Sales by Product Category over Time')

# Show the chart
plt.show()

Q11. you are given a CSV file containing student data that includesthe student ID and their test score. Write a python program that reads the CSV file, calculates the mean, median and mode of the test scores and displays the results in a table

In [30]:
import pandas as pd
from scipy import stats

file_path = input("Enter the file path:")
data = pd.read_csv(file_path)

# calculate mean
mean = data['test_score'].mean()
median = data['test_score'].median()

mode = pd.Series(data['test_score']).mode()[0]
df = pd.DataFrame({"Statistic": ["Mean", "Median", "Mode"], "Value": [mean, median, mode]})

print(df)

Enter the file path: students_data.csv

  Statistic  Value
0      Mean   83.5
1    Median   85.0
2      Mode   85.0