Q7. Create a DataFrame using multiple Series. Explain with an example.

In [4]:
#Ans)

import pandas as pd

# Create three Series
name = pd.Series(['Raja', 'Madhu', 'Nani'])
age = pd.Series([25, 30, 35])
salary = pd.Series([50000, 60000, 70000])

# Create a DataFrame from the Series
df = pd.DataFrame({'Name': name, 'Age': age, 'Salary': salary})

print(df)

    Name  Age  Salary
0   Raja   25   50000
1  Madhu   30   60000
2   Nani   35   70000